## 3ways of running python
- notebook
- CMD
- Making a python file.py

In [1]:
#f-string
name="Aryan"
age=20

f"my name is {name},I am {age} yr old"

'my name is Aryan,I am 20 yr old'

# starting loop
 - while loop 
 - for loop

In [3]:
#while loop
i=0

while(i<10):
    print(i,end=" ") # parameter " ", ","
    i+=1

0 1 2 3 4 5 6 7 8 9

In [9]:
# for in loop

for ele in range(3,21): #parameter in range is exclusive so if u want 10 so u have to pass 11
    if ele%2!=0:
        print(ele,end=",")

3,5,7,9,11,13,15,17,19,

In [10]:
# for in loop
#jump parameter
for ele in range(3,21,2): #parameter in range is exclusive so if u want 10 so u have to pass 11
        print(ele,end=",")

3,5,7,9,11,13,15,17,19,

# Strings

In [17]:
# ''
# " "
# """ """
st=" My name is aryan . i am from delhi"
type(st)

#Multiline string 

s1="""My name is aryan .

i am from delhi """
print(s1)

My name is aryan .

i am from delhi

In [18]:
s1

'My name is aryan .\n\ni am from delhi '

In [19]:
st.upper()

' MY NAME IS ARYAN . I AM FROM DELHI'

In [20]:
st.lower()

' my name is aryan . i am from delhi'

In [21]:
st.isalpha() # after . +tab

False

In [22]:
st.format_map?

In [23]:
st.strip() # shift +tab give better documentation

'My name is aryan . i am from delhi'

In [27]:
"        codinglots of fun.     ".rstrip() # rstrip right  left lstrip both strip

'        codinglots of fun.'

In [29]:
"Aryan".istitle() #tell title

True

In [30]:
"ram is our lord and we all chant for ram ".count("ram") #count words

2

In [32]:
#find func
st.find("name")
st.find("tell")

-1

In [33]:
st.split(" ")

['', 'My', 'name', 'is', 'aryan', '.', 'i', 'am', 'from', 'delhi']

In [34]:
st.split(".")

[' My name is aryan ', ' i am from delhi']

In [35]:
st[1]

'M'

In [36]:
len(st)

35

In [38]:
st[len(st)-1] #this will give us last charcter

'i'

In [39]:
st[len(st)-2] #this will give us second last charcter

'h'

In [41]:
#backward/negative  indexing 
st[-1]
st[-2]

'h'

In [43]:
#slicing 
#st[start_idx:end_idx+1] #last wala prt in python is exclusive
st[12:17]

'aryan'

In [45]:
print(st[:])
print(st[12:])
print(st[12:])

 My name is aryan . i am from delhi
aryan . i am from delhi

In [46]:
#step size third one
print(st[::-1])

ihled morf ma i . nayra si eman yM

In [47]:
reversed()

AttributeError: 'str' object has no attribute 'reversed'

In [53]:
st="changed" # here refernce are changed so string are immutable 
# also indexedable 
#those thing are immutable  they are also hashable

In [54]:
st

'changed'

In [55]:
str[0]="r"

TypeError: 'type' object does not support item assignment

# Operator
- arithmetic
- logical
- boolean 
- bitwise

In [57]:
(2>7) and (5>7) #to fullfill and all the coditions should be true

False

In [58]:
(7>=7 ) or (7>10)

True

In [59]:
not True

False

In [60]:
not( 3>5)

True

In [61]:
10 & 4

0

In [64]:
10|4

14

In [65]:
bin(10)

'0b1010'

In [66]:
0b1010

10

In [97]:
def hello():
    print("hello from function")

In [98]:
def func_name(a,b,c):
    """Docstring-
    this is my custom function.I really love python
    """
    print("hello from custom function")
    
    res =a+b
    c()
    return res

In [99]:
func_name # which file is it in? main

In [100]:
st.replace
#out means intermiadiate result

In [101]:
res=func_name(5,9,hello) #if we add doc string at end of func we dont get it

hello from custom function
hello from function

In [102]:
print(res)

14

In [103]:
#def authentication(user,passw,login)

<b>keyword arguments</b>

In [104]:
def

SyntaxError: invalid syntax (<ipython-input-104-7b18d017f89f>, line 1)

### args and kwargs

In [110]:
def test_func(*args):
    print(args)
    print(args[0])
    print(args[1])

In [111]:
test_func(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
1
2

In [112]:
def test_func1(**kwargs): #keyword arguement
    print(kwargs)

In [113]:
def final_fuc(n1,n2,n3,*args,**kwargs):
    print(n1)
    print(n2)
    print(n3)
    print(args)
    print(kwargs)

In [115]:
final_fuc(3,4,7,90,"hello",True,100,name="Mohit",age=20) # we cant write args after kwargs means no pos

3
4
7
(90, 'hello', True, 100)
{'name': 'Mohit', 'age': 20}

In [121]:

n=int(input())
for i in range(1,n+1):
    for y in range(1,i+1):
        print("*",end=" ")
        print()

5
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

# Data Structure

## list

In [122]:
li=[]

In [123]:
type(li)

list

In [124]:
li2 =list()

In [125]:
type(li2)

list

In [126]:
li=[4,5,6,7,88,9]

In [127]:
li

[4, 5, 6, 7, 88, 9]

In [131]:
print(li[0])
print(li[-1])

#slicing
print(li[2:-1])

4
9
[6, 7, 88]

In [132]:
li[0]=100 #means it is mutable

In [133]:
li

[100, 5, 6, 7, 88, 9]

In [136]:
mat=[[9,8,7],[1,2,3]]

In [137]:
len(mat)

2

In [139]:
li.append(899)